/*  Icons
**************************************************/

#admin-page .icon-globe:before {
    content: "\e0a1";
    font-size: 16px;
    margin-right: 7px;
}

#admin-page .icon-checkmark:before {
  content: "\e088";
}

#admin-page .icon-x:before {
  content: "\e085";
  font-size: 13px;
}

#admin-page .icon-loop:before {
  content: "\e615";
  font-size: 14px;
}

/*  Breadcrumbs
**************************************************/

.breadcrumb .icon-globe::before {
    font-size: 12px;
}

/*  Page Content Toolbar
**************************************************/

#admin-page .k-grid-toolbar {
    padding: 10px 15px;
}

#admin-page .portlet-body .k-grid-toolbar {
    padding: 0 0 15px 0;
}

/*  Administration Tab Pages
**************************************************/

#admin-page .page-content {
    background-color: #ffffff;
    padding: 15px;
    font-size: 12px;
}

#admin-page .column-wrapper {
    -webkit-column-width: 450px;
    -moz-column-width: 450px;
    column-width: 450px;
    margin-bottom: 20px;
}

/*  Grids
**************************************************/

#admin-page thead.k-grid-header {
    border-bottom: 1px solid #cccccc;
}

#admin-page .k-grid table {
    border-collapse: collapse;
}

#admin-page span.inactive-grid-element {
    font-style: italic;
    color: #666666;
}

/*  Non-selectable List
**************************************************/

#admin-page ul.non-selectable {
    list-style: none;
    padding-left: 0;
}

    #admin-page ul.non-selectable li {
        margin-bottom: 12px;
        line-height: 12px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
    }

    #admin-page ul.non-selectable li.disabled {
        color: #666666;
    }

        #admin-page ul.non-selectable li.disabled span,
        #admin-page ul.non-selectable li.disabled label {
            font-style: italic;
        }

    #admin-page ul.non-selectable ul {
        padding-left: 80px;
        list-style: circle;
        margin: 12px 0;
    }

        #admin-page ul.non-selectable ul li {
            padding-left: 10px;
            margin-bottom: 13px;
        }

/*  Selectable List
**************************************************/

#admin-page ul.selectable {
    list-style: none;
    padding-left: 0;
}

    #admin-page ul.selectable li {
        margin-bottom: 12px;
        line-height: 12px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
    }

    #admin-page ul.selectable li.disabled {
        color: #666666;
    }

        #admin-page ul.selectable li.disabled span,
        #admin-page ul.selectable li.disabled label {
            font-style: italic;
        }

    #admin-page ul.selectable ul {
        padding-left: 40px;
        list-style: none;
        margin: 12px 0;
    }

        #admin-page ul.selectable ul li {
            margin-bottom: 13px;
        }

/*  Edit Pages
**************************************************/

#admin-page .jumbotron h2 {
    font-size: 16px;
}

    #admin-page .jumbotron h2.inline {
        display: inline;
    }

#admin-page .subtitle {
    color: #38505d;
    display: inline;
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
}

    #admin-page .subtitle::before {
        content: "|";
        color: #989898;
        padding: 0 5px 0 0;
    }

#admin-page .portlet-body .page-content {
    padding: 15px 0 15px 0;
}

#admin-page .modal-body-content .column-wrapper {
    -webkit-column-width: 350px;
    -moz-column-width: 350px;
    column-width: 350px;
}

/*  Accordion
**************************************************/

#admin-page .accordion-input-group {
    padding-bottom: 10px;
}

#admin-page .accordionPanel .panel-collapse .accordion-input-group {
    padding-top: 10px;
}

#admin-page .accordionPanel {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5px;
}

    #admin-page .accordionPanel:last-child {
        border: none
    }

    #admin-page .accordionPanel .panel-heading {
        padding: 5px 0 5px 5px;
    }

    #admin-page .accordionPanel .panel-body {
        border: none;
    }

    #admin-page .accordionPanel .panel-collapse {
        background-color: #f0f0f0;
    }

    #admin-page .accordionPanel .panel-collapse .table-condensed {
        margin: 0;
    }

    #admin-page .accordionPanel .panel-collapse .panel-body {
	    margin: 0 0 0 20px;
	    padding: 0;
    }

/*  Inline Editor
**************************************************/

#admin-page .accordionPanel .panel-collapse .inline-editor {
    border-top: 1px solid #cccccc;
}

#admin-page .accordionPanel .panel-collapse .inline-editor:first-child {
    border-top: none;
}

#admin-page .inline-editor .inline-editable {
    display: table;
    width: 100%;
    font-weight: normal;
}

#admin-page .inline-editor .inline-uneditable {
    display: table;
    width: 100%;
}

#admin-page .inline-editor .inline-content {
    display: table-cell;
    vertical-align: top;
}

#admin-page .inline-editor .inline-buttons {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 70px;
}

#admin-page .inline-editor button {
    margin-left: 5px;
    display: inline-block;
}

    #admin-page .inline-editor button[class*="edit-button"] {
        color: #41708F;
    }

    #admin-page .inline-editor button[class*="save-button"] {
        height: 24px;
        width: 20px;
        color: #5d951d;
        font-size: 14px;
    }

    #admin-page .inline-editor button[class*="cancel-button"] {
        height: 24px;
        width: 18px;
    }

#admin-page .inline-editor td .inline-content {
    padding: 5px 0 5px 0;
}

#admin-page .inline-editor td .inline-buttons {
    padding: 5px 0 5px 0;
}

#admin-page div.table-condensed .inline-editor {
    padding: 5px 0 5px 0;
}

/*  Email Preview
**************************************************/

#previewModal #previewIframe {
    border: none;
}

#previewModal .item-select-button {
    height: 29px;
}

/*  Agenda History
**************************************************/

.agenda-history-wrapper .jsondiffpatch-property-name:after {
    content: ': ';
}

.agenda-history-wrapper .jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
    content: ':';
}

.agenda-history-wrapper .jsondiffpatch-child-node-type-array:after {
    content: '],';
    display: none;
}

.agenda-history-wrapper div.jsondiffpatch-child-node-type-array:before {
    content: '[';
    display: none;
}

.agenda-history-wrapper div.jsondiffpatch-child-node-type-array:after {
    content: ']';
    display: none;
}

.agenda-history-wrapper .jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
    content: ':';
}

.agenda-history-wrapper .jsondiffpatch-child-node-type-object:after {
    content: '},';
    display: none;
}

.agenda-history-wrapper div.jsondiffpatch-child-node-type-object:before {
    content: '{';
    display: none;
}

.agenda-history-wrapper div.jsondiffpatch-child-node-type-object:after {
    content: '}';
    display: none;
}

.agenda-history-wrapper .jsondiffpatch-value pre:after {
    content: ',';
    display: none;
}

.agenda-history-wrapper li:last-child > .jsondiffpatch-value pre:after,
.agenda-history-wrapper .jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
    content: '';
    display: none;
}

.agenda-history-wrapper .jsondiffpatch-textdiff-line-number:after {
    content: ',';
    display: none;
}

.agenda-history-wrapper .jsondiffpatch-deleted .jsondiffpatch-property-name,
.agenda-history-wrapper .jsondiffpatch-deleted pre,
.agenda-history-wrapper .jsondiffpatch-modified .jsondiffpatch-left-value pre,
.agenda-history-wrapper .jsondiffpatch-textdiff-deleted {
    background: #ffbbbb;
    text-decoration: none;
}

.agenda-history-wrapper pre {
    white-space: pre-wrap;
}

/*  Style Fixes
**************************************************/

#admin-page .icon-arrow2_R span {
    font-family: "Roboto-Regular", Arial,Helvetica,sans-serif;
}

#admin-page .btn {
    line-height: 16px;
    font-size: 14px;
}

#admin-page .team-edit-block h5 { /* employee selector sub header */
    margin: 20px 0 10px 5px;
}

#admin-page input.form-control { /* make input same height as button */
    height: 30px;
}

#admin-page .right-button {
    float: right;
}