.result {
    margin: 10px 0px 20px;
    border-bottom: 1px dashed #CCC;
}

.search-highlight {
	background-color: yellow;
}

.label .search-highlight {
	color: #000;
}

.text-soft-mute {
	color: #8598a2;
}

.facets-paging {
	margin-top: 12px;
	margin-bottom: 10px;
}

.facets-paging a.disabled {
	color: #8598a2;
	cursor: default;
}

.break-word {
	word-wrap: break-word;
}

.search-pull-right .btn {
	padding: 5.5px 12px !important;
}